<form [formGroup]="configForm">
  <div *ngFor="let testCase of configForm.get('testCases').controls; let i = index;" formArrayName="testCases">
    <div [formGroupName]="i" class="test-case">
      <div class="row align-items-top">
        <div class="col-5">
          <div class="form-group">
            <h6>Class name</h6>
            <div>
              <input class="form-control" formControlName="class" placeholder="Class name">
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="form-group">
            <h6>Path to file</h6>
            <div>
              <input class="form-control" formControlName="path" placeholder="Path to file with exported class">
            </div>
          </div>
        </div>
        <div class="col-2 text-right">
          <button class="btn btn-lg btn-outline-danger btn-sm" (click)="removeTestCase(i)">Remove test case</button>
        </div>
      </div>

      <h3 class="mt-3">Entry function</h3>
      <app-entry-form [entryGroup]="testCase.get('entry')"></app-entry-form>

      <h3 class="mt-3">Lens
        <button class=" ml-2 btn btn-primary btn-sm"
                type="button"
                (click)="createLensForTestCase(testCase)">Create
        </button>
      </h3>
      <div class="mt-4" *ngFor="let lensItem of testCase.get('lens').controls; let i = index;" formArrayName="lens">
        <app-lens-form [lensGroup]="lensItem" [indent]="1" (remove)="removeFromLenses(testCase, i)"></app-lens-form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <button class="btn btn-info w-100 mt-3 btn-lg" type="button" (click)="createTestCase()">Create test case</button>
    </div>
    <div class="col-4">
      <button class="btn btn-success w-100 mt-3 btn-lg" type="button" (click)="save()">Save to JSON file</button>
    </div>
    <div class="col-4">
      <button class="btn btn-outline-danger w-100 mt-3 btn-lg" type="button" (click)="clear()">Reset</button>
    </div>
  </div>
</form>
