<div [formGroup]="entryGroup" class="entry-fn">
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <h6>Function name</h6>
        <div>
          <input class="form-control" formControlName="name" placeholder="Entry function name">
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <h6>Args path</h6>
        <div>
          <input class="form-control" formControlName="args" placeholder="Path to file with exported args">
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <h6>Proxy strategy</h6>
        <div>
          <input class="form-control" formControlName="strategy" placeholder="Strategy used in proxify">
        </div>
      </div>
    </div>
  </div>
</div>
